# Make various Block related things public
public net.minecraft.block.Block$Properties *()

public net.minecraft.block.Block field_181083_K # materialColor
public-f net.minecraft.village.PointOfInterestType field_226356_s_  #field_226356_s_
public-f net.minecraft.village.PointOfInterestType field_221073_u  #field_221073_u
public-f net.minecraft.village.PointOfInterestType field_221075_w # field_221075_w
public net.minecraft.village.PointOfInterestType func_226359_a_(Ljava/lang/String;Ljava/util/Set;II;)Lnet/minecraft/village/PointOfInterestType; # register
public net.minecraft.entity.ai.goal.GoalSelector field_220892_d # goals
public net.minecraft.entity.passive.BeeEntity$UpdateBeehiveGoal #please
public-f net.minecraft.tileentity.TileEntityType field_223046_I # validBlocks

public net.minecraft.block.StairsBlock <init>(Lnet/minecraft/block/BlockState;Lnet/minecraft/block/Block$Properties;)V #StairsBlock
public net.minecraft.block.DoorBlock <init>(Lnet/minecraft/block/Block$Properties;)V # DoorBlock
public net.minecraft.block.FarmlandBlock <init>(Lnet/minecraft/block/Block$Properties;)V # FarmlandBlock
public net.minecraft.block.GrassPathBlock <init>(Lnet/minecraft/block/Block$Properties;)V # GrassPathBlock
public net.minecraft.block.TrapDoorBlock <init>(Lnet/minecraft/block/Block$Properties;)V # TrapDoorBlock
public net.minecraft.block.WoodButtonBlock <init>(Lnet/minecraft/block/Block$Properties;)V # WoodButtonBlock
public net.minecraft.block.PressurePlateBlock <init>(Lnet/minecraft/block/PressurePlateBlock$Sensitivity;Lnet/minecraft/block/Block$Properties;)V # PressurePlateBlock

public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public net.minecraft.village.PointOfInterestType <init>(Ljava/lang/String;Ljava/util/Set;II)V # comment
public net.minecraft.entity.merchant.villager.VillagerProfession <init>(Ljava/lang/String;Lnet/minecraft/village/PointOfInterestType;Lcom/google/common/collect/ImmutableSet;Lcom/google/common/collect/ImmutableSet;Lnet/minecraft/util/SoundEvent;)V

# server.properties world type hackery
public-f net.minecraft.server.dedicated.ServerProperties *
public net.minecraft.server.dedicated.PropertyManager *

public net.minecraft.entity.monster.SlimeEntity field_184711_bt # SLIME_SIZE
public net.minecraft.entity.Entity func_226264_Z_ # setPosition


protected net.minecraft.entity.item.BoatEntity func_184447_s()V #tickLerp

public net.minecraft.world.biome.Biome func_201866_a(Lnet/minecraft/entity/EntityClassification;Lnet/minecraft/world/biome/Biome$SpawnListEntry;)V # addSpawn
public net.minecraft.potion.PotionBrewing func_193357_a(Lnet/minecraft/potion/Potion;Lnet/minecraft/item/Item;Lnet/minecraft/potion/Potion;)V # addMix
public net.minecraft.client.renderer.tileentity.TileEntityRendererDispatcher func_228854_a_ # addMix
